

body {
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.titulo{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 350%;
font-family: sans-serif;
font-weight: bold;
}

.subtitulo{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 150%;
font-family: sans-serif;
}

h1{
color:white;
font-family: sans-serif;
text-align: center;
}

article {
--img-scale: 1.001;
--title-color: black;
position: relative;
border-radius: 16px;
background: wheat;
transform-origin: center;
overflow: hidden;
}

article h2 {
margin: 0 0 18px 0;
font-size: 1.9rem;
}


article img {
max-width: 100%;
transform-origin: center;
transform: scale(var(--img-scale));
transition: transform 0.4s ease-in-out;
}

.article-body {
padding: 24px;
}


.articles {
display: grid;
max-width: 1200px;
margin-inline: auto;
padding-inline: 24px;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
gap: 24px;
}
  
.ubi{
color: white;
text-align: center;
}
